<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading"> Trends </p>
    <a class="panel-block">
      Trend
    </a>
    <a class="panel-block">
      Trend
    </a>
    <a class="panel-block">
      Trend
    </a>
    <a class="panel-block">
      Trend
    </a>
    <a class="panel-block">
      Trend
    </a>
    <a class="panel-block">
      Trend
    </a>
  </nav>
</div>